{erl_opts, [debug_info,
           warnings_as_errors,
           warn_untyped_record,
           {platform_define, "^[0-9]+", namespaced_types},
           {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{edoc_opts, [preprocess,
             {dir, "edoc"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{deps, [{lager, "(2.1|2.2).*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {tag, "2.1.0"}}},
        {time_compat, ".*", {git, "git://github.com/lasp-lang/time_compat.git", {branch, "master"}}}]}.

{port_specs,
 [{".*", "priv/riak_ensemble.so",
   ["c_src/*.c*"],
   [{env, [{"CFLAGS", "$CFLAGS"}]}]
  }]}.
