{erl_opts, [debug_info,
           warnings_as_errors,
           warn_untyped_record,
           {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{deps, [{lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {branch, "2.0"}}}]}.

{port_specs,
 [{".*", "priv/riak_ensemble.so",
   ["c_src/*.c*"],
   [{env, [{"CFLAGS", "$CFLAGS"}]}]
  }]}.
